.set-container {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.sets-container_grid-3 {
    width: 100%;
}

.sets-container_grid-3 .set-container {
    grid-template-columns: repeat(3, 1fr);
}
