
.audio-element {
    --audio-color: var(--c-secondary);
    background-color: var(--c-transitive1);
    max-width: 800px;
    width: 100%;
    border-radius: 2px;
    outline: 2px solid transparent;
    * { border-color: var(--audio-color)!important; }

    .audio-element_title {
        width: 100%;
        margin: 0 5px;
        cursor: pointer; 
        max-width: unset;
    }

    .audio-button {
        margin: 0;
        padding: 0;
        * {padding: 0;}
    }
    .config-button {
        * {padding: 3px;}
    }
    
    .volume {
        width: 40%;
        max-width: 80px;
        min-width: 70px;
    }

    .audio-element_main {
        width: 100%;
        //min-height: 108px;
    }

    .audio-configuration {
        width: 100%;
        height: 100%;
    }
    
    .audio-configuration_probability {
        padding: 10px 5px;
        .percent { width: 70px; }
    }
    .audio-configuration_playback--prev,
    .audio-configuration_playback {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .audio-configuration_playback {
        padding-top: 15px;
    }
}

@media screen and (min-width: 368px) {
    .audio-element {
        .effect-button { padding: 2px; }
    }
}
@media screen and (min-width: 576px) {
    .audio-element {
        .audio-configuration_effects { align-items: center; }
    }
}
@media screen and (min-width: 768px) {
    .audio-element {      
        .audio-configuration {
            width: 100%;
            height: 100%;
        }
    
    }
}

@media screen and (min-width: 992px) {
    .audio-element--prev {
        width: 810px;
    }
}