.items-panel {
    min-width: 96px;
    .t-button { width: 100%; }

    .items-panel_button {
        width: 80%;
        padding: 3px 0;
    }
}

@media screen and (min-width: 768px) {
    .items-panel {
        position: relative;
        z-index: 5;
        height: 100%;
        .items-panel_button { width: 100%; }
    }
    
}