.audioLoadingCard {
    width: 100%;
    max-width: 350px;
    height: min-content;
    background-color:var(--c-primary);
    position:relative;
    margin: 6px;
    padding: 8px;
    border-radius: 5px;

    .audioLoadingCard-name {
        height: 1rem;
        margin-bottom: 10px;
    }
    .audioLoadingCard-tools {
        width: 100%;

        .audioLoadingCard_left{
            width: 100%;
        
            .audioLoadingCard-timeline {
                padding-bottom: 8px;
                width: 100%;
                 div {
                    width: 100%;
                    height: 15px;
                }
            }
            
            .audioLoadingCard-play {
                width: 100%;
                padding-bottom: 10px;

                .audioLoadingCard-time {
                    width: 100%;
                    div {
                        width: 2rem;
                        height: 1rem;
                    }
                }
                .audioLoadingCard-play-button{
                    width: 100%;
                    div {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
        }
        .audioLoadingCard_right{
            width: 100%;
            height: 100%;
    
            .audioLoadingCard-pluggins{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
                width: 90%;
                height: 100%;

                div {
                    height: 1rem;
                    margin: 0 5px 5px 0;
                }
            }
        }
    }
}

.animated-background {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color:var(--c-transitive1);
    background: linear-gradient(to right,var(--c-transitive1) 8%,var(--c-primary) 18%,var(--c-transitive1) 33%);
    background-size: 800px 104px;
    position: relative;
}
  
@keyframes placeHolderShimmer {
    0% {
        background-position: -800px 0
    }
    100% {
        background-position: 800px 0
    }
}

@media screen and (max-width: 340px) {
    .audioLoadingCard {
      .audioLoadingCard-tools {
        flex-direction: column !important;
        .audioLoadingCard_right { 
            align-items: center !important;
        } 
      }
    }
  }