/* SWITCHER */
.switcher {
    cursor: pointer;
    padding: 2px;

    .switcher_thumb {
        color: var(--secondary-color);
        background-color: var(--primary-l-color);
        width: 100%;
        height: 100%;
        padding: 2px 4px;
        border-radius: 2px;
        position: relative;
        transition: opacity 0.2s ease-out;
        overflow: hidden;
    }

    .switcher_thumb:after {
        content: "";
        display: block;
        position: absolute;
        width: 87%;
        height: 1px;
        background-color: var(--secondary-color);
        top: 50%;
        opacity: 0;
        transform: rotate(0.04turn);
        transition: opacity 0.2s ease-out;
    }
    
    .switcher_thumb:before {
        content: "";
        display: block;
        position: absolute;
        width: 87%;
        height: 1px;
        background-color: var(--secondary-color);
        top: 50%;
        opacity: 0;
        transform: rotate(-0.04turn);
        transition: opacity 0.2s ease-out;
    }

    input:checked + .switcher_thumb {
        opacity: 50%;
    }

    input:checked + .switcher_thumb:after,
    input:checked + .switcher_thumb:before {
        opacity: 70%;
    }
}

