:root {
    --xs: 368px;
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
    --xxl: 1400px;
}

/* -------------------------------------------------------------------------- */
/*                                   THEMES                                   */
/* -------------------------------------------------------------------------- */
.dark {
    --c-primary: #131212;
    --c-secondary: #f7e0e0;
    --c-transitive1: #222020;
    --c-transitive2: #464242;
    accent-color: #f7e0e0;
    color-scheme: dark;
}

.light {
    --c-primary: #f7e0e0;
    --c-secondary: #131212;
    --c-transitive1: #cfbcbc;
    --c-transitive2: #a89999;
    accent-color: #131212;
    color-scheme: light;
}

/* -------------------------------------------------------------------------- */
/*                                    UTILS                                   */
/* -------------------------------------------------------------------------- */
/* FLEX */
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}
.flex-wrap { flex-wrap: wrap; }
.flex-wrap-reverse { flex-wrap:wrap-reverse; }
.flex-grow-1 { flex-grow: 1; }
/* GRID */
.grid { display: grid; }
/* Aligns and Justifies */
.align-c { align-items: center; }
.align-end { align-items:flex-end; }
.align-start { align-items:flex-start; }
.justify-c { justify-content: center; }
.justify-sb { justify-content: space-between; }
.justify-sa { justify-content: space-around; }
.justify-end { justify-content:flex-end; }
.justify-start { justify-content:flex-start; }
/* PADDING */
.p-2 { padding: 2px; }
.p-5 { padding: 5px; }
.p-10 { padding: 10px; }
.px-2 { padding: 0 2px}
.px-5 { padding: 0 5px}
.px-10 { padding: 0 10px}
.py-2 { padding: 2px 0}
.py-5 { padding: 5px 0}
.py-10 { padding: 10px 0}
.py-20 { padding: 20px 0}
/* MARGIN */
.m-5 { margin: 5px; }
/* BORDER */
.border { border: 1px solid var(--c-secondary); }
.rounded { border-radius: 5px; }
/* VISIBILITY */
.hidden { display: none; }
.disable,
.disable *{
    background-color: var(--c-transitive1) !important;
    opacity: 50%;
    cursor:not-allowed !important;
}
.inactive {
    opacity: 40%;
}
.h-line {
    width: 100%;
    height: 2px;
    border-radius: 5px;
    margin: 5px 0;
    background-color: var(--c-transitive2);
}
/*OPACITY*/
.o-5 { opacity: 50%; }
/* ICONS */
.icon-m { width: 15px; }
.icon-l { width: 20px; }
.icon-text-l { width: 1.5rem; }
.icon-text { width: 1.3rem; }
.icon-text-s { width: 0.8rem; }
.icon-drop { width: 80px; }
/* TEXTS */
.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.text-left { text-align:left; }
.text-center { text-align: center; }
.text-bold { font-weight: 800; }
/* FONT SIZE */
.fs-title {
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 1.5px;
}
.fs-text-l { font-size: 1rem; }
.fs-text { font-size: 0.8rem; }
.fs-text-s { font-size: 0.6rem; }

/* MEDIA QUERY - min-width */
@media screen and (min-width: 368px) {
    .icon-text-l { width: 1.4rem; }
    .icon-text { width: 1rem; }
    /* FONT SIZE */
    .fs-title { font-size: 1.2rem; }
    .fs-text-l { font-size: 1.1rem; }
    .fs-text { font-size: 0.9rem; }
    .fs-text-s { font-size: 0.7rem; }
}
@media screen and (min-width: 576px) {
    /* ICONS */
    .icon-m { width: 17px; }
    .icon-l { width: 23px; }
    .icon-text-s { width: 1rem; }
    .icon-text { width: 1.2rem; }
    .icon-text-l { width: 1.5rem; }
    /* FONT SIZE */
    .fs-title { font-size: 1.2rem; } 
    .fs-text-l { font-size: 1.1rem; }
    .fs-text { font-size: 0.9rem; }
    .fs-text-s  { font-size: 0.7rem; }
}
@media screen and (min-width: 768px) {
    /* FONT SIZE */
    .icon-m { width: 20px; }
    .icon-l { width: 25px; }
    .icon-text-l { width: 1.6rem; }
    .icon-text-s { width: 1.1rem; }
    .icon-text { width: 1.3rem; }
}
@media screen and (min-width: 992px) {
    /* FONT SIZE */
    .icon-text-l { width: 1.7rem; }
    .icon-text { width: 1.4rem; }
    /* FONT SIZE */
    .fs-title { font-size: 1.3rem; }
    .fs-text-l { font-size: 1.2rem; }
    .fs-text { font-size: 1rem; }
    .fs-text-s  { font-size: 0.8rem; } 
}

@media screen and (min-width: 1200px) {
    .icon-text-l { width: 1.8rem; }
    .icon-text { width: 1.5rem; }
    /* FONT SIZE */
}

/* -------------------------------------------------------------------------- */
/*                                  ELEMENTS                                  */
/* -------------------------------------------------------------------------- */
/* CSS */
body {
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;

    font-family: 'Cutive Mono', monospace; 

    font-weight: normal;
    font-size: 10px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;

    box-sizing: border-box;

    background-color:var(--c-primary);
    color: var(--c-secondary);
}

@media (display-mode: standalone) {
    body { overscroll-behavior-y: contain; }
}

/* SCROLLBAR FIREFOX */
* {
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color:var(--c-transitive2) var(--c-primary);   /* scroll thumb and track */ 
}

/* SCROLLBAR webkit */
*::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
}
*::-webkit-scrollbar-thumb {
    background-color:var(--c-transitive2);    /* color of the scroll thumb */
    border-radius: 2px;       /* roundness of the scroll thumb */
}

/* Refresh */
body *,
*,
*::after, 
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier Mono',monospace;
    user-select: none;
}



a { text-decoration: none; }

a:link,
a:hover, 
a:active, 
a:visited, 
a:checked,
a:focus{
    outline: none;
    text-decoration: none;
    color: unset;
    background-color: transparent;
}

li { list-style-type: none; }

i { color:var(--c-secondary); }

button {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: var(--c-secondary)
}

button:hover, 
button:active,
button:focus{
    box-shadow: none;
    user-select: none;
}

input:focus {
    border-radius: 2px;
    box-shadow: none;
    outline: none;
}

button:focus-visible,
a:focus-visible{
    border-radius: 2px;
    outline: 3px solid var(--c-secondary)!important;  
}
input:focus-visible {
    border-radius: 2px;
    outline: 3px solid var(--c-secondary)!important;  
}

/* ROOT */
.app {
    width: 100%;
    height: 100vh;
    min-height: 530px;
}

/* HEADER */
.header { width: 100%; }
.header_button{ margin: 0  10px }

.change-theme_button {
    background-color: transparent;
    color:var(--c-secondary);
    margin-left: 10px;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid var(--c-secondary);
}
.change-theme_button svg {
    padding: 1px;
}

/* CONTENT */
.content-section {
    width: 100%;
    flex-grow: 1;
}

/* INIT CONTENT */
.init-content {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
}

.init-content .init-message {
    padding: 20px 5px;
}
.init-content .init-message * { padding: 2px 0; }
.init-content .init-message label { margin: 10px 5px; }

.init-content .button-container *{
    padding: 5px;
}
.init-content .startApp-button {
    padding: 4px 5px;
    border-radius: 5px;
    color:var(--c-secondary);
    border: 1px solid var(--c-secondary);
}

@media screen and (max-width: 350px) {
    .init-section { padding: 0; }
}