.config-panel_container {
    .config-panel_container--children {
        width: 100%;
    }
}
@media screen and (min-width: 368px) {
    .config-panel_container{
        .config-panel_container--children {
            width: 80%;
        }
        .config-panel_container--description {
            width: 80%;
        }
    }

}

@media screen and (min-width: 768px) {
    .config-panel_container{
        .config-panel_container--children {
            width: 90%;
        }
        .config-panel_container--description {
            width: 100%;
        }
    }
}