.t-button {
  position: relative;
  z-index: 2;

  max-width: 300px;
  padding: 4px;
  margin: 5px 2px;
  color: var(--c-secondary);
  background-color: transparent;
  
  border: 1px solid var(--c-secondary);
  border-radius: 2px;
  
  cursor: pointer;    
  
  * { padding: 0 2px; }
}
.t-button.active {
  color: var(--c-primary);
  background-color: var(--c-secondary);

}