.main {
    width: 100%;
    height: 100%;
}

.audio-container {
    position: relative;
    width: 100%;
    max-width: 1900px;
    height: 100%;

    background-image: radial-gradient(circle, var(--c-transitive2) 1.5px, transparent 1.5px);
    background-size: 1rem 1rem;
    background-position: center;

    overflow-x: hidden;
}

.audio-container .audio-container_sub {
    position: absolute;
    width: 100%;
    columns: 525px;
    column-gap: 0;
}

.audio-container .files > div {
    width: 100%;
}

.audio-loading-element {
    background-color: var(--c-transitive1);
    max-width: 900px;
    width: 100%;
    height: 33px;
    border-radius: 2px;
    outline: 2px solid transparent;
}

.audio-element--prev {
    -webkit-break-inside: avoid;
    break-inside: avoid-column;
}

@media (pointer: fine) and (hover: hover){
    .audio-container::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
    .audio-container:hover::-webkit-scrollbar-thumb {
        background-color: var(--c-transitive2);
    }
}
