.audio-app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  padding-top: 10px;
}

.main-section {
  width: 100%;
  flex-grow: 1;
  padding: 0 10px;

  .main {
    width: 100%;
    height: 100%;
    flex-grow: 1;
  }
}
.tool-section {
  padding: 0 10px 10px;
}

.dropFile{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color:var(--c-primary);
  color:var(--c-secondary);
  opacity: 80%;
  z-index: 10;
}

@media screen and (min-width: 620px) {
  .audio-app {
    flex-direction: row;
  }
  .tool-section {
    padding: 0;
  }
}