.audioCard {
    width: 100%;
    max-width: 350px;
    height: min-content;
    background-color:var(--c-primary);
    position:relative;
    margin: 6px;
    padding: 8px;
    border-radius: 5px;
    
    .delete-button {
        width: 20px;
        height: 20px;
        background-color: var(--c-transitive1);
        border-radius: 2px;
        .icon {
            width: 20px;
        }
    }

    .audioCard-head {
        padding-bottom: 10px;
        grid-template-columns: 60% 15% 15% 20px;
    }
    .audioCard-tools {
        width: 100%;
        height: 100%;
      
        .audioCard-tools_left {
            width: 100%;
            .audioCard-timeslider {
                width: 100%;
            }

            .audioCard-play {
                .audioCard-play-button {
                    button {
                        .icon {
                            width: 50px;
                        }
                    }
                }

            }
        }
        .audioCard-tools_right {
            width: 100%;

            .audioCard-pluggins {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
                width: 95%;
            }
        }
    }
}

@media scren and (min-width: 300px) {
    .audioCard {
        .audioCard-head {
            grid-template-columns: 50% 20% 20% 20px;
        }
    }
}


@media screen and (max-width: 320px) {
    .audioCard {
      .audioCard-tools {
        flex-direction: column !important;
        .audioCard-tools_right { 
            align-items: center !important;

        } 
      }
    }
}

@media screen and (min-width: 1400px) {
    .audioCard {
        max-width: 400px;
    }
}