.audioCard-volume {
    width: 100%;
    .icon { width: 40px; }
    .audioCard-volume_input {
        display: inline-block;
        width: 100%; height: .6rem;
        margin: 0; padding: 0;
        background-color:var(--c-transitive1);
        border-radius: 2px;
        overflow: hidden;
        cursor: pointer;
        transform: translateX(-5px);

        @mixin track() {
            border: none;
            height: 100%;
            width: 100%;
            cursor: pointer;
        }
        
        &::-webkit-slider-runnable-track { @include track();}
        &::-moz-range-track { @include track(); }
        &::-ms-track { @include track(); }
        
        @mixin thumb() {
            display: block;
            margin:0; padding: 0;
            height: .6rem; width: .5rem;
            cursor: pointer;
            border-radius: 0;
            background-color: var(--c-secondary);
            box-shadow: 
                -1rem 0 0 1rem var(--c-secondary),
                -2rem 0 0 1rem var(--c-secondary),
                -3rem 0 0 1rem var(--c-secondary),
                -4rem 0 0 1rem var(--c-secondary),
                -5rem 0 0 1rem var(--c-secondary),
                -6rem 0 0 1rem var(--c-secondary),
            ;
          
        }

        &::-webkit-slider-thumb { @include thumb(); }
        &::-moz-range-thumb { @include thumb(); }
        &::-ms-thumb { @include thumb(); }

        &,
        &::-webkit-slider-runnable-track,
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
        }

        &::-ms-track {
            color: transparent;
        }
        &::-ms-fill-lower, 
        &::-ms-fill-upper, 
        &::-ms-tooltip {
            display: none;
        }
        
    }
}
