.switcher {
    cursor: pointer;
    padding: 2px;

    .switcher_thumb {
        color:var(--c-secondary);
        background-color:var(--c-transitive1);
        width: 100%;
        height: 100%;
        transition: opacity 0.2s ease-out;
        padding: 2px 4px;
        border-radius: 2px;
    }
    .switcher_cross {
        display: inline-block;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    .switcher_cross:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background-color:var(--c-secondary);
        top: 50%;
        opacity: 0;
        transform: rotate(10deg);
        transition: opacity 0.2s ease-out;
    }
    
    .switcher_cross:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background-color:var(--c-secondary);
        top: 50%;
        opacity: 0;
        transform: rotate(-10deg);
        transition: opacity 0.2s ease-out;
    }

    input:checked + .switcher_thumb {
        opacity: 50%;
    }

    input:checked + .switcher_thumb .switcher_cross:after,
    input:checked + .switcher_thumb .switcher_cross:before {
        opacity: 70%;
    }
}

