.file-button {
  width: 100%;
  background-color: var(--primary-color);
  padding-bottom: 10px;
  
  .tool-button {
    margin: 10px 1%;
    outline: 1px solid var(--secondary-color);
  }

}

.file-container {
  background-color: var(--primary-l-color);


  flex-grow: 1;
  
  width: 100%;
  height: 100%;

  
  margin-bottom: 10px;
  padding: 10px;
  
  border-radius: 10px;
  
  .files {
    background-image: radial-gradient(circle, var(--primary-color) 1.5px, transparent 1.5px);
    background-size: 1rem 1rem;
    background-position: center;
    width: 100%;
    height: 1px;
    flex-grow: 1;
    padding: 0 5px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}