/* FLEX */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-c {
  align-items: center;
}
.align-end {
  align-items:flex-end;
}
.align-start {
  align-items:flex-start;
}


.justify-c {
  justify-content: center;
}
.justify-sb {
  justify-content: space-between;
}
.justify-sa {
  justify-content: space-around;
}
.justify-end {
  justify-content:flex-end;
}
.justify-start {
  justify-content:flex-start;
}

.flex-grow-1 {
  flex-grow: 1;
}

.p-2 {
  padding: 5px;
}
.p-3 {
  padding: 10px;
}
.m-2 {
  margin: 5px;
}

.border {
  border: 1px solid var(--c-secondary);
}
.rounded {
  border-radius: 5px;
}

/* VISIBILITY */
.hidden {
  display: none;
}
.disable,
.disable *{
  background-color: var(--c-transitive1) !important;
  opacity: 50%;
  cursor:not-allowed !important;
}

/* TEXTS */
.c-primary { /* no used */
  color:var(--c-primary) !important;
}
.c-secondary {
  color: var(--c-secondary) !important;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.text-left { text-align:left; }
.text-center { text-align: center; }

.text-bold { font-weight: 800; }

.fs-title {
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
}

.fs-text-l { font-size: 1rem; }
.fs-text { font-size: 0.8rem; }
.fs-text-s { font-size: 0.6rem; } /* no used */


@media screen and (min-width: 420px) {
  .fs-title { font-size: 1.4rem; }
  .fs-text-l { font-size: 1.2rem; }
  .fs-text { font-size: 1rem; }
  .fs-text-s  { font-size: 0.8rem; }
}

@media screen and (min-width: 1400px) {
  .fs-title { font-size: 1.6rem; }
  .fs-text-l { font-size: 1.4rem; }
  .fs-text { font-size: 1.2rem; }
  .fs-text-s  { font-size: 1rem; }
}

