
/* FLEX */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-c {
  align-items: center;
}
.align-end {
  align-items:flex-end;
}
.align-start {
  align-items:flex-start;
}


.justify-c {
  justify-content: center;
}
.justify-sb {
  justify-content: space-between;
}
.justify-sa {
  justify-content: space-around;
}
.justify-end {
  justify-content:flex-end;
}
.justify-start {
  justify-content:flex-start;
}

.flex-r-change { /* no usef */
  display: flex;
  flex-direction: row;
}

.flex-c-change { /* no used */
  display: flex;
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.p-2 {
  padding: 5px;
}
.p-3 {
  padding: 10px;
}
.m-2 {
  margin: 5px;
}

.border {
  border: 1px solid var(--secondary-color);
}
.rounded {
  border-radius: 5px;
}

/* VISIBILITY */
.hidden {
  display: none;
}
.disable,
.disable *{
  background-color: var(--primary-l-color) !important;
  opacity: 50%;
  cursor:not-allowed !important;
}

/* TEXTS */
.c-primary { /* no used */
  color: var(--primary-color) !important;
}
.c-secondary {
  color: var(--secondary-color) !important;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.text-left { text-align:left; }
.text-center { text-align: center; }

.text-bold { font-weight: 800; }

.fs-title {
  font-weight: 800;
  font-size: 1.6rem;
  letter-spacing: 1.5px;
  margin: 5px 0;
}
.fs-text-l { font-size: 1.8rem; }
.fs-text { font-size: 1.2rem; }
.fs-text-s { font-size: 1rem; } /* no used */



/* POP UP */
.pop .up {
  position: absolute;
  background-color: var(--primary-color) !important;
  color: var(--secodary-color) !important;

  padding: 3px 5px;
  white-space: nowrap;
  transform: translate(0, 95%);

  opacity: 0;
  visibility: hidden;
  z-index: 99999;
}

.pop:hover .up ,
.pop:focus .up {
  opacity: 2 !important;
  visibility: visible;
  transform: translate(0, 105%);
  transition: all 0.1s ease-out 0.1s;
}

/* 
@media screen and (max-width: 1200px) {
  .fs-text-l {
    font-size: 1.8rem;
  }
  .fs-text {
    font-size: 1rem;
  }
  .fs-text-s  {
    font-size: 1rem;
  }
}
*/

@media screen and (max-width: 1300px) {

  .flex-r-change { flex-direction: column; }
  .flex-c-change { flex-direction: row; }
  
  .fs-text-l { font-size: 1.4rem; }
  .fs-text { font-size: 1rem; }
  .fs-text-s  { font-size: 0.8rem; }
}

/* 
@media screen and (max-width: 640px) { 
  
} 
*/