.aside {
  position: relative;
  z-index: 6;

  height: 100%;
  width: 100%;

  .tools-switch {
    display: none;
  }

  .tool-button {
    width: 100%;
    padding: 10px 4px;
  }

  .panel {
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 10px;

    z-index: 5;
    background:var(--c-transitive1);

    .aside-button {
      position: relative;
      width: 100%;
    }
  }
}

@media screen and (max-width: 620px) {
  .aside {
    padding: 0;

    .tools-switch {
      background-color:var(--c-transitive1);
      display: flex;
      width: 100%;
      position: relative;
      z-index: 5;
      border-radius: 10px;

      i {
        width: 100%;
        font-size: 2rem;
      }
      .tool-button {
        background-color:var(--c-transitive1);
        margin: 0;
        padding: 0;
        border-radius: 10px;
      }
    }

    .panel.panel-hidden {
      height: 100%;
      top: 0;
      z-index: 4;
      transform: translateY(0);

      & > div {
        transform: scaleY(0);
        opacity: 0;
        z-index: 1;
      }
    }
    .panel.panel-invisible {
      opacity: 0;
    }
    .panel {
      position: absolute;
      top: 2rem;
      transform: translateY(10px);
      z-index: 4;
      transition: top .2s ease-in-out;
      opacity: 98%;
      padding: 0;
      height: unset;

      .tool-button {
        max-width: unset;
        align-items: center;
        justify-content: center;
        background-color:var(--c-transitive1);
      }
      
      & > div {
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: center;

        position: relative;
        z-index: 2;
        
        background:var(--c-primary);
        border: 4px solid var(--c-transitive1);
        border-radius: 10px;

        padding: 6px 0;

        transition: opacity .2s ease-out;
      }
      .aside-button {
        width: 120px;
        margin: 0 5px;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .aside {
    .tool-button {
      padding: 10px 8px;
    }
    .panel {
      .aside-button {
        width: unset;
        display: block;

      }
    }
  }
}