.tool-button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 2px;
    max-width: 300px;
    padding: 3px;
    margin: 5px 2%;
    
    * {
      cursor: pointer;    
      padding: 0 5px;
    }
    
    .tool-button_icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
  