
.main {
  width: 100%;
  height: 100%;
  background-color:var(--c-transitive1);
  border-radius: 10px;

  .file-buttons {
    width: 100%;

    .tool-button {
      position: relative;
      z-index: 2;
      margin: 10px 1%;
      border: 1px solid var(--c-secondary);
      cursor: pointer;
    }
    
    .fileInput-contain {
      position: relative;
      padding: 0;
      margin: 10px 1%;
      
      .fileInput {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: min-content;
        border-radius: 2px;
        z-index: 1;
      }
      .tool-button {
        margin: 0;
      }
    }
    
    .start-button {
      h4 {
        width: 60px;
      }
    }
  }
  
  .files-container {
    width: 100%;
    height: 100%;
  
    padding: 5px;
    flex-grow: 1;
    
    
    .files {
      background-image: radial-gradient(circle, var(--c-primary) 1.5px, transparent 1.5px);
      background-size: 1rem 1rem;
      background-position: center;
      overflow-x: hidden;
      flex-grow: 1;
      width: 100%;

      height: 1px;
      & > div {
        width: 100%;
      }
    }
  }
}

@media (pointer: fine) and (hover: hover){
  .main {
    .files::-webkit-scrollbar-thumb {
      background-color: transparent; 
    }
    .files:hover::-webkit-scrollbar-thumb {
      background-color: var(--c-transitive2);
    }
  }
}


@media screen and (min-width: 420px) {
  .main {
    .file-buttons {
      .start-button {
        h4 {
          width: 70px;
        }
      }
    }
  }
}

@media screen and (max-width: 280px) {
  .main {
    .file-buttons {
      h4 { display: none; }
      .icon-m { width: 25px; }
      .icon-l { width: 30px; }
    }
  }
}